<h1>Dice</h1>

<% outcomes = (1..6).to_a.shuffle %>
<% die1 = outcomes.pop %>
<% die2 = outcomes.pop %>
<% die3 = outcomes.pop %>
<% die4 = outcomes.pop %>



<p>
  <img src="/images/dice/<%= die1%>.svg">
  <img src="/images/dice/<%= die2%>.svg">
  </p>
  <%= die1%>
  <%= die2%>
  <%= die3%>
  <%= die4%>
 
<p> The total is <%= die1 + die2 + die3 + die4%> </p>


<% for game in 1..8 %>
  <% die = rand(1..6) %>
 <p> <%= "Here are the numbers for Game #{game}: #{die}" %> </p>
<% end %>
  
<p>
<a href="/dice">Roll again</p>